.body {
    background: url(../img/185863.970000.jpg) no-repeat center / cover;
};


.body_bg {
    background: #ffd27d;
}

h2 {
    font-size: 3vw;
    margin-bottom: 10px;
}
.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.hero_decor_1 {
    position: absolute;
    top: 200px;
    left: 0;
    transform: translateX(-500px);
    z-index: -1;
}

.hero_decor_2 {
    position: absolute;
    top: 200px;
    right: 0;
    transform: translateX(450px);
    z-index: -1;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 10px 25px;
    height: 100%;
}

.general_title {
    color: aliceblue;
    font-size: 60px;
    text-align: center;
    margin: 40px 0;
}

.hero_flex {
    border-radius: 9px;
    background: url(../img/paper.jpg) no-repeat center / cover;
    padding: 80px;
    position: relative;
}

.hero_section_1 {}

.hero_title {
    color: rgb(250, 149, 87);
}

.hero_paragrapf {}

.hero_section_2 {}

.hero_section_3 {}



/* -------------------------------------- */

.footer {
    margin-top: 150px;
    background: #000;
    color: #fff;
    z-index: 2;
    position: relative;
    overflow: hidden;
    border-radius: 24px 24px 0 0;
}

.footer_left {
    width: 300px;
    margin-right: 50px;
}
.footer_list {
    font-size: 5vw;
    display: flex;
    gap: 15px;
    align-items: center;
}
.footer_list img {
    width: 100px;
}

.footer-content {
    position: relative;
    display: flex;
    z-index: 2;
}

.footer-effects {
    position: absolute;
    inset: 0;
    pointer-events: none;
    z-index: 1;
}
/* =========== */

.footer-effects span {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  animation: footerLights 3s infinite ease-in-out;
  box-shadow: 0 0 15px currentColor;
  opacity: .6;
  background: radial-gradient(circle at 30% 30%, #ffffff, currentColor 60%);

}


.footer-effects span:nth-child(4)  { left: 30%; top: 70%; color: #0069d3; animation-delay: 1.2s; }
.footer-effects span:nth-child(5)  { left: 40%; top: 50%; color: #07c500; animation-delay: 1.6s; }
.footer-effects span:nth-child(6)  { left: 50%; top: 30%; color: #ff2929; animation-delay: 2s; }
.footer-effects span:nth-child(7)  { left: 60%; top: 60%; color: #0069d3; animation-delay: 2.4s; }
.footer-effects span:nth-child(8)  { left: 70%; top: 40%; color: #ff2929; animation-delay: 2.8s; }
.footer-effects span:nth-child(9)  { left: 80%; top: 70%; color: #ff2929; animation-delay: 3.2s; }
.footer-effects span:nth-child(10) { left: 90%; top: 50%; color: #07c500; animation-delay: 3.6s; }
.footer-effects span:nth-child(11) { left: 95%; top: 35%; color: #0069d3; animation-delay: 4s; }
.footer-effects span:nth-child(12) { left: 15%; top: 80%; color: #ff2929; animation-delay: 4.4s; }

@keyframes footerLights {
  0%,100% { transform: scale(.7); opacity: .3; }
  50%     { transform: scale(1.3); opacity: 1; }
}


/* -------------------главные анимации------------------- */

@keyframes floatLeft {
    0% {
        transform: translateX(-75%) translateY(0);
    }

    50% {
        transform: translateX(-77%) translateY(-15px);
    }

    100% {
        transform: translateX(-75%) translateY(0);
    }
}

@keyframes floatRight {
    0% {
        transform: translateX(75%) translateY(0);
    }

    50% {
        transform: translateX(77%) translateY(-15px);
    }

    100% {
        transform: translateX(75%) translateY(0);
    }
}

.hero_decor_1 {
    animation: floatLeft 6s ease-in-out infinite;
}

.hero_decor_2 {
    animation: floatRight 6s ease-in-out infinite;
}

.bg-lights {
    position: fixed;
    inset: 0;
    pointer-events: none;
    z-index: 0;
    overflow: hidden;
}

.bg-lights span {
    position: absolute;
    width: 12px;
    height: 12px;
    background: radial-gradient(circle, #fff, #ffd27d 30%, transparent 70%);
    border-radius: 50%;
    opacity: 0;
    animation: lightLife linear infinite;
}

.bg-lights span:nth-child(1) {
    left: 10%;
    animation-duration: 10s;
    animation-delay: 0s;
}

.bg-lights span:nth-child(2) {
    left: 20%;
    animation-duration: 13s;
    animation-delay: 3s;
}

.bg-lights span:nth-child(3) {
    left: 30%;
    animation-duration: 11s;
    animation-delay: 6s;
}

.bg-lights span:nth-child(4) {
    left: 40%;
    animation-duration: 15s;
    animation-delay: 2s;
}

.bg-lights span:nth-child(5) {
    left: 50%;
    animation-duration: 12s;
    animation-delay: 5s;
}

.bg-lights span:nth-child(6) {
    left: 60%;
    animation-duration: 14s;
    animation-delay: 1s;
}

.bg-lights span:nth-child(7) {
    left: 70%;
    animation-duration: 11s;
    animation-delay: 4s;
}

.bg-lights span:nth-child(8) {
    left: 80%;
    animation-duration: 16s;
    animation-delay: 7s;
}

.bg-lights span:nth-child(9) {
    left: 90%;
    animation-duration: 13s;
    animation-delay: 2s;
}

.bg-lights span:nth-child(10) {
    left: 15%;
    animation-duration: 14s;
    animation-delay: 6s;
}

.bg-lights span:nth-child(11) {
    left: 25%;
    animation-duration: 12s;
    animation-delay: 1s;
}

.bg-lights span:nth-child(12) {
    left: 35%;
    animation-duration: 10s;
    animation-delay: 5s;
}

.bg-lights span:nth-child(13) {
    left: 45%;
    animation-duration: 16s;
    animation-delay: 3s;
}

.bg-lights span:nth-child(14) {
    left: 55%;
    animation-duration: 11s;
    animation-delay: 7s;
}

.bg-lights span:nth-child(15) {
    left: 65%;
    animation-duration: 14s;
    animation-delay: 4s;
}

.bg-lights span:nth-child(16) {
    left: 75%;
    animation-duration: 13s;
    animation-delay: 0s;
}

.bg-lights span:nth-child(17) {
    left: 85%;
    animation-duration: 15s;
    animation-delay: 6s;
}

.bg-lights span:nth-child(18) {
    left: 95%;
    animation-duration: 12s;
    animation-delay: 2s;
}

.bg-lights span:nth-child(19) {
    left: 5%;
    animation-duration: 16s;
    animation-delay: 8s;
}

.bg-lights span:nth-child(20) {
    left: 45%;
    animation-duration: 13s;
    animation-delay: 9s;
}

@keyframes lightLife {
    0% {
        top: 110%;
        opacity: 0;
        transform: scale(.7);
    }

    10% {
        opacity: .8;
    }

    40% {
        opacity: 1;
    }

    70% {
        opacity: .6;
    }

    100% {
        top: -10%;
        opacity: 0;
        transform: scale(1.4);
    }
}

/* ============================================= */
@media (max-width: 1100px) {
    .hero_flex {
    max-width: 70vw;
}
}

@media (max-width: 900px) {
    .body {
    background: url(../img/185863.970000.jpg) repeat center / cover;
    }
    .hero_flex {
    padding: 40px;
}
    .footer {
    margin-top: 100px;
}
    .footer_left {
    width: 200px;
    margin-right: 30px;
}
    .footer_list img {
        width: 80px;
    }
}

@media (max-width: 800px) {
    .hero_decor_1 {
        width: 450px;
    }
    .hero_decor_2 {
        width: 410px;
    }
}

@media (max-width: 620px) {
    .hero_flex {
    padding: 20px;
}
    .footer {
        margin-top: 60px;
    }
    .footer_left {
    width: 150px;
    margin-right: 15px;
}
    .footer_list img {
        width: 40px;
    }
}

@media (max-width: 450px) {
    .footer_left {
    width: 100px;
    margin-right: 10px;
}
    .footer_list img {
        width: 30px;
    }
    .footer_list {
    gap: 5px;
}
}